USE [YUMFOOD]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 8/22/2024 11:10:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](50) NOT NULL,
	[SDT_KH] [nvarchar](15) NULL,
	[NGAYTAO] [datetime] NOT NULL,
	[GIATRIGIAMGIA] [int] NULL,
	[MANV] [nvarchar](20) NOT NULL,
	[GHICHU] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONCHITIET]    Script Date: 8/22/2024 11:10:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONCHITIET](
	[MACT] [int] IDENTITY(1,1) NOT NULL,
	[MAHD] [int] NOT NULL,
	[MASP] [nvarchar](5) NOT NULL,
	[SL] [int] NOT NULL,
	[GIA] [float] NOT NULL,
	[GHICHU] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MACT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI_HANGHOA]    Script Date: 8/22/2024 11:10:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_HANGHOA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN_HANGHOA] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiGiamGia]    Script Date: 8/22/2024 11:10:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiGiamGia](
	[MaGG] [nvarchar](15) NOT NULL,
	[TenCT] [nvarchar](50) NOT NULL,
	[NgayBD] [date] NOT NULL,
	[NgayKT] [date] NOT NULL,
	[Giatri] [float] NOT NULL,
 CONSTRAINT [PK__LoaiGiam__2725AE82539D4AB9] PRIMARY KEY CLUSTERED 
(
	[MaGG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 8/22/2024 11:10:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nvarchar](20) NOT NULL,
	[MATKHAU] [nvarchar](15) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[SDT] [nvarchar](15) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[GIOITINH] [bit] NOT NULL,
	[DIACHI] [nvarchar](200) NULL,
	[VAITRO] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 8/22/2024 11:10:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [nvarchar](5) NOT NULL,
	[TENSANPHAM] [nvarchar](50) NOT NULL,
	[GIA] [float] NOT NULL,
	[MOTA] [nvarchar](200) NULL,
	[HINH] [nvarchar](50) NOT NULL,
	[MALOAI] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MAHD], [TENKH], [SDT_KH], [NGAYTAO], [GIATRIGIAMGIA], [MANV], [GHICHU]) VALUES (1, N'Bùi Văn Tèo', N'2273849392', CAST(N'2023-11-02T00:00:00.000' AS DateTime), 15, N'PS002', N'abc')
INSERT [dbo].[HOADON] ([MAHD], [TENKH], [SDT_KH], [NGAYTAO], [GIATRIGIAMGIA], [MANV], [GHICHU]) VALUES (2, N'Đinh Văn Khang', N'514124', CAST(N'2023-11-02T00:00:00.000' AS DateTime), 15, N'PS002', N'abc')
INSERT [dbo].[HOADON] ([MAHD], [TENKH], [SDT_KH], [NGAYTAO], [GIATRIGIAMGIA], [MANV], [GHICHU]) VALUES (3, N'Nguyễn Văn A', N'0194979456', CAST(N'2023-11-04T00:00:00.000' AS DateTime), 15, N'PS001', N'abc')
SET IDENTITY_INSERT [dbo].[HOADON] OFF
GO
SET IDENTITY_INSERT [dbo].[HOADONCHITIET] ON 

INSERT [dbo].[HOADONCHITIET] ([MACT], [MAHD], [MASP], [SL], [GIA], [GHICHU]) VALUES (2, 5, N'BA02', 4, 25000, NULL)
INSERT [dbo].[HOADONCHITIET] ([MACT], [MAHD], [MASP], [SL], [GIA], [GHICHU]) VALUES (3, 5, N'BA03', 4, 40000, NULL)
INSERT [dbo].[HOADONCHITIET] ([MACT], [MAHD], [MASP], [SL], [GIA], [GHICHU]) VALUES (4, 1, N'BA01', 14, 10000, NULL)
SET IDENTITY_INSERT [dbo].[HOADONCHITIET] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAI_HANGHOA] ON 

INSERT [dbo].[LOAI_HANGHOA] ([ID], [TEN_HANGHOA]) VALUES (1, N'Bánh')
INSERT [dbo].[LOAI_HANGHOA] ([ID], [TEN_HANGHOA]) VALUES (2, N'Bánh Tráng')
INSERT [dbo].[LOAI_HANGHOA] ([ID], [TEN_HANGHOA]) VALUES (3, N'Mì')
SET IDENTITY_INSERT [dbo].[LOAI_HANGHOA] OFF
GO
INSERT [dbo].[LoaiGiamGia] ([MaGG], [TenCT], [NgayBD], [NgayKT], [Giatri]) VALUES (N'MG001', N'Khai Trương Cửa Hàng', CAST(N'2023-11-02' AS Date), CAST(N'2023-11-04' AS Date), 15)
INSERT [dbo].[LoaiGiamGia] ([MaGG], [TenCT], [NgayBD], [NgayKT], [Giatri]) VALUES (N'MG002', N'Lễ 20/11', CAST(N'2023-11-19' AS Date), CAST(N'2023-11-21' AS Date), 5)
INSERT [dbo].[LoaiGiamGia] ([MaGG], [TenCT], [NgayBD], [NgayKT], [Giatri]) VALUES (N'MG003', N'Siêu sales 11/11', CAST(N'2023-11-11' AS Date), CAST(N'2023-11-12' AS Date), 20)
GO
INSERT [dbo].[NHANVIEN] ([MANV], [MATKHAU], [HOTEN], [SDT], [EMAIL], [GIOITINH], [DIACHI], [VAITRO]) VALUES (N'PS001', N'1234', N'Hà Tấn Hiếu', N'0832233604', N'hieuhtps30123@fpt.edu.vn', 1, N'Đồng Tháp', 1)
INSERT [dbo].[NHANVIEN] ([MANV], [MATKHAU], [HOTEN], [SDT], [EMAIL], [GIOITINH], [DIACHI], [VAITRO]) VALUES (N'PS002', N'1234', N'Đạt culi', N'124412412', N'datnmps30042@fpt.edu.vn', 1, N'Bến Tre', 0)
INSERT [dbo].[NHANVIEN] ([MANV], [MATKHAU], [HOTEN], [SDT], [EMAIL], [GIOITINH], [DIACHI], [VAITRO]) VALUES (N'PS003', N'12345', N'Tống Đinh Tiên Hoàng', N'2121412', N'hoangtdtps30071@fpt.edu.vn', 1, N'Bình Thuận', 1)
GO
INSERT [dbo].[SANPHAM] ([MASP], [TENSANPHAM], [GIA], [MOTA], [HINH], [MALOAI]) VALUES (N'BA01', N'Bánh sừng bò', 10000, N'Bánh xốp, giòn có thể xé ra từng lớp mỏng nhỏ', N'BanhsungBo.png', 1)
INSERT [dbo].[SANPHAM] ([MASP], [TENSANPHAM], [GIA], [MOTA], [HINH], [MALOAI]) VALUES (N'BA02', N'Bánh tart trứng', 25000, N'Bán theo combo 1 hộp 3 cái ', N'banhtart.png', 1)
INSERT [dbo].[SANPHAM] ([MASP], [TENSANPHAM], [GIA], [MOTA], [HINH], [MALOAI]) VALUES (N'BA03', N'Bánh su kem', 40000, N'Bán theo combo 1 hộp 8', N'banhsukem.png', 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__HOADONCH__563D086CA731B81C]    Script Date: 8/22/2024 11:10:56 PM ******/
ALTER TABLE [dbo].[HOADONCHITIET] ADD UNIQUE NONCLUSTERED 
(
	[MAHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADONCHITIET]  WITH CHECK ADD  CONSTRAINT [FK_HDCT_HD] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[HOADONCHITIET] CHECK CONSTRAINT [FK_HDCT_HD]
GO
ALTER TABLE [dbo].[HOADONCHITIET]  WITH CHECK ADD  CONSTRAINT [FK_HDCT_SP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[HOADONCHITIET] CHECK CONSTRAINT [FK_HDCT_SP]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAI_HANGHOA] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAI_HANGHOA] ([ID])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAI_HANGHOA]
GO
/****** Object:  StoredProcedure [dbo].[BIEUDO_DOANHTHU_TheoNgay]    Script Date: 8/22/2024 11:10:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[BIEUDO_DOANHTHU_TheoNgay](@STARTDATE DATE, @ENDDATE DATE)
AS BEGIN 
	SELECT  CONVERT(NVARCHAR,HD.NGAYTAO,105) AS 'NGAY'
		, SUM(CT.SL*CT.GIA)-((SUM(CT.SL*CT.GIA) * ISNULL(HD.GIATRIGIAMGIA,0))/100) AS 'TONGDOANHTHU'
	FROM HOADONCHITIET CT JOIN HOADON HD ON CT.MAHD = HD.MAHD
	WHERE cast(HD.NGAYTAO as date) BETWEEN cast(@STARTDATE as date) AND cast(@ENDDATE as date)
	GROUP BY ISNULL(HD.GIATRIGIAMGIA,0), CONVERT(NVARCHAR,HD.NGAYTAO,105)				
END
GO
/****** Object:  StoredProcedure [dbo].[DANHSACH_HOADON]    Script Date: 8/22/2024 11:10:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[DANHSACH_HOADON]
AS BEGIN
	SELECT 
		  HOADON.MAHD
		, HOADON.TENKH
		, HOADON.SDT_KH
		, HOADON.NGAYTAO
		, SUM(HOADONCHITIET.SL*HOADONCHITIET.GIA)-((SUM(HOADONCHITIET.SL*HOADONCHITIET.GIA)* ISNULL(HOADON.GIATRIGIAMGIA,0))/100) AS N'TONG TIEN'
		, HOADON.MANV
	FROM HOADON LEFT JOIN HOADONCHITIET ON HOADON.MAHD= HOADONCHITIET.MAHD
	GROUP BY HOADON.MAHD,HOADON.TENKH, HOADON.SDT_KH, HOADON.NGAYTAO,HOADON.MANV, ISNULL(HOADON.GIATRIGIAMGIA,0)
	ORDER BY HOADON.MAHD ASC
END
GO
/****** Object:  StoredProcedure [dbo].[DanhSachSanPham_HoaDonChiTiet]    Script Date: 8/22/2024 11:10:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[DanhSachSanPham_HoaDonChiTiet] (@MAHD INT)
AS BEGIN
	-- Row_number() : lấy STT cho mỗi dòng 
	-- OVER : muốn sắp xếp các dòng theo tiêu chí nào
	-- OVER (ORDER BY HOADON.MAHD) : sắp xếp theo thứ tự của Mã Hóa Đơn 
	SELECT 
		 ROW_NUMBER() OVER (ORDER BY HOADON.MAHD) AS STT
		 , SANPHAM.TENSANPHAM
		 , HOADONCHITIET.SL
		 , SANPHAM.GIA
		 , HOADONCHITIET.SL * HOADONCHITIET.GIA AS N'THANH TIEN'
		 , ISNULL(HOADONCHITIET.GHICHU,'') AS GHICHU
	FROM HOADON INNER JOIN HOADONCHITIET ON HOADON.MAHD= HOADONCHITIET.MAHD
				INNER JOIN SANPHAM ON HOADONCHITIET.MASP = SANPHAM.MASP
	WHERE HOADON.MAHD = @MAHD
END
GO
/****** Object:  StoredProcedure [dbo].[DoanhThu_FROMDATE_TODATE]    Script Date: 8/22/2024 11:10:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[DoanhThu_FROMDATE_TODATE] (@STARTDATE DATE, @ENDDATE DATE)
AS BEGIN
	WITH THONGKE AS(
		SELECT  COUNT(DISTINCT HD.MAHD) AS SOHOADON, 
			SUM(CT.SL*CT.GIA)-((SUM(CT.SL*CT.GIA)*ISNULL(HD.GIATRIGIAMGIA,0))/100) AS TONGDOANHTHU, 
			CONCAT(N'Từ ngày ', @STARTDATE, N' đến ngày ', @ENDDATE) AS KHOANGTHOIGIAN
		FROM HOADON HD LEFT JOIN HOADONCHITIET CT ON HD.MAHD= CT.MAHD
		WHERE cast(HD.NGAYTAO as date) BETWEEN @STARTDATE AND @ENDDATE
		--WHERE HD.NGAYTAO>= @STARTDATE AND HD.NGAYTAO <= @ENDDATE
		GROUP BY ISNULL(HD.GIATRIGIAMGIA,0)
	)
	SELECT  SUM(SOHOADON) AS N'SO HOA DON', 
			SUM(TONGDOANHTHU) AS 'TONG DOANH THU', 
			KHOANGTHOIGIAN AS N'KHOANG THOI GIAN' 
	FROM THONGKE
	GROUP BY KHOANGTHOIGIAN
END
GO
/****** Object:  StoredProcedure [dbo].[DOANHTHU_NGAYHIENTAI]    Script Date: 8/22/2024 11:10:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[DOANHTHU_NGAYHIENTAI] (@NOW DATE)
AS BEGIN
	-- WITH : bảng tạm trong PROCEDURE 
	-- Thống kê tổng doanh thu và tổng số hóa đơn bỏ trong bảng tạm.
	-- Vì có những hóa đơn có mã giảm giá và có những hóa đơn không có mã
	WITH THONGKE AS(
		SELECT  
				SUM(CT.SL*CT.GIA)-((SUM(CT.SL*CT.GIA) * ISNULL(HD.GIATRIGIAMGIA,0))/100) AS TONGDOANHTHU, 
				COUNT(DISTINCT HD.MAHD) AS SOHOADON
		FROM HOADON HD left JOIN HOADONCHITIET CT ON HD.MAHD= CT.MAHD
		WHERE cast(HD.NGAYTAO as date) = @NOW	
		GROUP BY ISNULL(HD.GIATRIGIAMGIA,0)
	)
	SELECT  SUM(TONGDOANHTHU) AS 'TONG DOANH THU'
			, SUM(SOHOADON) AS 'SO HOA DON'
	FROM THONGKE
END
GO
/****** Object:  StoredProcedure [dbo].[DoanhThu_THONGKE_NGAYHIENTAI]    Script Date: 8/22/2024 11:10:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[DoanhThu_THONGKE_NGAYHIENTAI](@NOW DATE)
AS BEGIN
	SELECT ROW_NUMBER() OVER (ORDER BY SUM(CT.SL) DESC) AS STT, 
			SP.TENSANPHAM,
			SUM(CT.SL)AS 'SO LUONG', 
			CT.GIA AS 'GIA',
			SUM(CT.SL*CT.GIA)-((SUM(CT.SL*CT.GIA) * ISNULL(HD.GIATRIGIAMGIA,0))/100) AS 'THANHTIEN'
	FROM HOADON HD INNER JOIN HOADONCHITIET CT ON HD.MAHD= CT.MAHD
				INNER JOIN SANPHAM SP ON CT.MASP= SP.MASP  
	WHERE cast(NGAYTAO as date) = @NOW
	GROUP BY SP.TENSANPHAM,CT.GIA ,ISNULL(HD.GIATRIGIAMGIA,0)
END
GO
/****** Object:  StoredProcedure [dbo].[DoanhThu_THONGKE_TIME]    Script Date: 8/22/2024 11:10:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[DoanhThu_THONGKE_TIME](@STARTDATE DATE,@ENDDATE DATE)
AS BEGIN
	SELECT ROW_NUMBER() OVER (ORDER BY SUM(CT.SL) DESC) AS STT, 
			SP.TENSANPHAM, 
			SUM(CT.SL) AS 'SO LUONG',
			CT.GIA AS 'GIA',
			SUM((CT.SL * CT.GIA*ISNULL(HD.GIATRIGIAMGIA,0))/100) AS 'GIAM GIA',
			SUM(CT.SL * CT.GIA) - SUM((CT.SL * CT.GIA*ISNULL(HD.GIATRIGIAMGIA,0))/100) AS 'THANH TIEN'
	FROM HOADON HD LEFT JOIN HOADONCHITIET CT ON HD.MAHD= CT.MAHD
				LEFT JOIN SANPHAM SP ON CT.MASP= SP.MASP
	WHERE cast(HD.NGAYTAO as date) BETWEEN @STARTDATE AND @ENDDATE
	GROUP BY SP.TENSANPHAM,CT.GIA
END
GO
/****** Object:  StoredProcedure [dbo].[GIAMGIA]    Script Date: 8/22/2024 11:10:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[GIAMGIA](@NOW DATE)
AS BEGIN 
	SELECT 
		Giatri AS GIATRI,
		TenCT AS GHICHU
	FROM LoaiGiamGia WHERE @NOW BETWEEN NgayBD AND NgayKT
END
GO
/****** Object:  StoredProcedure [dbo].[SANPHAM_BANCHAYNHAT]    Script Date: 8/22/2024 11:10:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[SANPHAM_BANCHAYNHAT]
AS BEGIN
	SELECT ROW_NUMBER() OVER (ORDER BY SUM(CT.SL) DESC) AS STT
		, HH.TEN_HANGHOA AS LOAIHANG
		, SP.TENSANPHAM
		, ISNULL(SUM(CT.SL),0) AS 'SOLUONG'
		, SP.GIA AS GIABAN
		, ISNULL(SUM(CT.SL * CT.GIA),0) AS 'THANHTIEN' 
	FROM HOADON HD 
		 JOIN HOADONCHITIET CT ON HD.MAHD= CT.MAHD
		 RIGHT JOIN SANPHAM SP ON CT.MASP= SP.MASP
		 JOIN LOAI_HANGHOA HH ON HH.ID = SP.MALOAI
	GROUP BY SP.TENSANPHAM,HH.TEN_HANGHOA,SP.GIA
END
GO
/****** Object:  StoredProcedure [dbo].[THANHTOAN]    Script Date: 8/22/2024 11:10:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[THANHTOAN] (@MAHD INT)
AS BEGIN
	SELECT ISNULL(SUM(CT.SL*CT.GIA),0) AS 'TONG TIEN'
		, ISNULL( ( ( SUM(CT.SL*CT.GIA) * ISNULL(HD.GIATRIGIAMGIA,0) )/100), 0) AS 'GIAM GIA'
		, ISNULL(GG.TenCT,'') AS 'GHI CHU'
		, ISNULL(SUM(CT.SL*CT.GIA)-((SUM(CT.SL*CT.GIA) * ISNULL(HD.GIATRIGIAMGIA,0))/100),0) AS N'THANH TOAN'
	FROM HOADON HD LEFT JOIN HOADONCHITIET CT ON HD.MAHD = CT.MAHD
						-- Nếu join theo Ngày Tạo thì sẽ không hiện những hóa đơn
						-- Mà giá trị bằng NULL
					LEFT JOIN LoaiGiamGia GG ON HD.NGAYTAO BETWEEN GG.NgayBD AND GG.NgayKT
	WHERE HD.MAHD = @MAHD AND (cast(NGAYTAO as date) BETWEEN GG.NgayBD AND GG.NgayKT OR HD.GIATRIGIAMGIA IS NULL OR GG.TenCT IS NULL)
	GROUP BY ISNULL(HD.GIATRIGIAMGIA,0), ISNULL(GG.TenCT,'')
END
GO
/****** Object:  StoredProcedure [dbo].[THONGKE_NGAYHIENTAI]    Script Date: 8/22/2024 11:10:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[THONGKE_NGAYHIENTAI] (@NOW DATE)
AS
BEGIN
	WITH THONGKE AS (
			SELECT  SANPHAM.TENSANPHAM
					, SUM(CT.SL) AS SOLUONG
					, SUM(CT.SL*CT.GIA) AS THANHTIEN
					, SUM(CT.SL*CT.GIA) * ISNULL(HD.GIATRIGIAMGIA,0)/100 AS GIAMGIA
					, SUM(CT.SL*CT.GIA) - SUM(CT.SL*CT.GIA) * ISNULL(HD.GIATRIGIAMGIA,0)/100 AS THANHTOAN
			FROM HOADON HD LEFT JOIN HOADONCHITIET CT ON HD.MAHD = CT.MAHD
							--LEFT JOIN LoaiGiamGia GG ON HD.MaGG = GG.MaGG
							JOIN SANPHAM ON SANPHAM.MASP= CT.MASP
			WHERE cast(HD.NGAYTAO as date) = @NOW
			GROUP BY SANPHAM.TENSANPHAM,ISNULL(HD.GIATRIGIAMGIA,0)
	)
	SELECT 
	ROW_NUMBER() OVER (ORDER BY SUM(SOLUONG) DESC) AS STT,
		TENSANPHAM,
		SUM(SOLUONG) AS 'SOLUONG',
		SUM(THANHTIEN) AS 'THANHTIEN',
		SUM(GIAMGIA) AS 'GIAMGIA',
		SUM(THANHTOAN) AS 'THANHTOAN'
	FROM THONGKE 
	GROUP BY THONGKE.TENSANPHAM
END
GO
/****** Object:  StoredProcedure [dbo].[THONGTIN_KHACHHANG_NHANVIEN]    Script Date: 8/22/2024 11:10:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[THONGTIN_KHACHHANG_NHANVIEN](@MAHD INT)
AS BEGIN
	SELECT  HOADON.TENKH AS 'HO TEN KHACH HANG'
			, HOADON.SDT_KH AS 'SDT KHACH HANG' 
			, NHANVIEN.HOTEN AS 'HO TEN NHAN VIEN'
			, NHANVIEN.SDT AS 'SDT NHAN VIEN'
	FROM NHANVIEN JOIN HOADON ON NHANVIEN.MANV = HOADON.MANV
	WHERE MAHD = @MAHD 
END
GO
/****** Object:  StoredProcedure [dbo].[TIEN_THANHTOAN]    Script Date: 8/22/2024 11:10:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[TIEN_THANHTOAN] (@MAHD INT, @KHACHDUA FLOAT)
AS BEGIN
	SELECT HD.MAHD,
		SUM(CT.GIA * CT.SL)-(SUM(CT.SL*CT.GIA)*ISNULL(HD.GIATRIGIAMGIA,0))/100 AS THANHTIEN,
		@KHACHDUA AS KHACHDUA,
		@KHACHDUA - (SUM(CT.GIA * CT.SL)-(SUM(CT.SL*CT.GIA)*ISNULL(HD.GIATRIGIAMGIA,0))/100) AS TRALAI
	FROM HOADONCHITIET CT JOIN HOADON HD ON CT.MAHD= HD.MAHD
	WHERE HD.MAHD = @MAHD
	GROUP BY HD.GIATRIGIAMGIA,HD.MAHD
END
GO
